@import 'tailwindcss';

:root {
    scroll-behavior: smooth;
}

@theme inline {
    --color-green-primary: #0c0;
    --color-green-secondary: #1F5900;
}

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.bg-image {
    background-image: url('./assets/bg.png');
    background-size: cover;
    background-position: center;
}

.barlow-bold {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.racing-sans-one-regular {
    font-family: 'Racing Sans One', sans-serif;
    font-weight: 400;
    font-style: normal;
}
