@import url(https://db.onlinewebfonts.com/c/9ba8bbe06a8de1691ac6665853666207?family=Controller+W01+Four);
@import 'tailwindcss';

:root {
    scroll-behavior: smooth;
}

@theme inline {
    --color-green-primary: #0c0;
    --color-green-secondary: #1F5900;
    --color-green-tertiary: #71D343;
    --color-green-quadritary: #098c04;
}

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: normal;
}

html,
body {
    overflow-x: hidden;
}

.bg-image {
    background-image: url('./assets/bg.png');
    background-size: cover;
    background-position: center;
}

.barlow-bold {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.cwf-bold {
    font-family: 'Controller W01 Four', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.cwf-regular {
    font-family: 'Controller W01 Four', sans-serif;
    font-weight: 500;
    font-style: normal;
}

.racing-sans-one-regular {
    font-family: 'Racing Sans One', sans-serif;
    font-weight: 400;
    font-style: normal;
}
